@import 'variables';

.sign-in-form {
    background-color: #525252;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-in-form h1 {
    color: $text-white;
    margin-bottom: 24px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.form-group label{
    width: 80px;
    color: $text-white;
}

.form-group input{
    padding: 8px 12px;
    background: none;
    // border:none;
    border: 1px solid #999;
    outline: none;
    caret-color: $text-white;
    color: $text-white;
}

.form-group input:-webkit-autofill{
     background-color: #525252 !important;
    -webkit-box-shadow: 0 0 0 1000px #525252 inset;
    -webkit-text-fill-color: white;
}

.form-group p {
    position: absolute;
}

.sign-in-btn {
    padding: 8px 12px;
    position: absolute;
    right: 61px;
    border: none;
    background-color: #404040;
    color: $text-white;
}

.sign-in-btn:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.sign-in-form p {
    margin-top: 60px;
    color: #fff;
    font-size: 11px;
}

.sign-in-form p a {
    color: #9b9bfe;
}

.sign-in-form p a:hover {
    color: #8383ff;
}