.nav-user {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 16px;
}

.nav-user i {
  color: var(--color-Gray);
  margin-left: 12px;
}

.nav-user:hover i {
  color: #fff;
}

.nav-user img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.header-avatar-fallback {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  position: relative;
}

.first-char-header {
  font-size: 20px;
  position: absolute;
  color: #fff;
  font-weight: normal;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -49%);
}

.option-user {
  position: absolute;
  top: 42px;
  right: 171px;
  box-shadow: 0 0 0 0.5px #ccc;
  border-radius: 4px;
  background: #000;
  display: none;
  align-items: center;
  z-index: 10;
}

.nav-user.active i {
  color: #fff;
}

.option-user.active {
  display: flex;
}

.option-user ul {
  padding: 8px 0;
}

.option-user li {
  list-style-type: none;
  width: 155px;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.option-user li:hover,
.option-user li:hover a {
  color: #999;
}

.option-user li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.5px;
  margin-left: 5px;
  flex: 1;
  display: flex;
  justify-content: left;
}

.option-user li .icon {
  width: 24px;
  height: 20px;
}
