
<div class="nav">
    <ul class="nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/home">Feed</a></li>
        <li><a href="/home">Library</a></li>
    </ul>
</div>
<div class="form-search">
    <form action="">
        <input type="text" placeholder="Search" class="input-search">
        <i class="ti-search icon-search center-item"></i>
    </form>
</div>
<div class="nav-upload-music">
    <a href="/upload">Upload</a>
</div>
<div class="nav-user cursor-pointer">
    <img class="user-avatar" src="https://res.cloudinary.com/dqynaodv1/image/upload/v1776107586/maxresdefault_1_ck3pll.jpg" alt="">
    <i class="ti-angle-down"></i>
</div>
